@font-face{
	font-family:'fusifonticon';
	src:url('fusifonticon.ttf') format('truetype');
}
.fusi{
font-family:'fusifonticon';
font-style: normal;
}
.fusi-shutter-island:before{
content:'\F020';
}
.fusi-thor:before{
content:'\F021';
}
.fusi-clockwork-orange:before{
content:'\F022';
}
.fusi-vendetta:before{
content:'\F023';
color:#fff !important;
}
.fusi-baymax:before{
content:'\F024';
}
.fusi-inception:before{
content:'\F025';
}
.fusi-gambit:before{
content:'\F026';
}
.fusi-welle:before{
content:'\F027';
color:#fff !important;
}
.fusi-jeux-denfants:before{
content:'\F028';
}
.fusi-leon:before{
content:'\F029';
}
.fusi-tars:before{
content:'\F02A';
}
.fusi-matrix:before{
content:'\F02B';
}
.fusi-batman:before{
content:'\F02C';
}
.fusi-up:before{
content:'\F02D';
}
.fusi-phantom-of-opera:before{
content:'\F02E';
}
.fusi-titanic:before{
content:'\F02F';
}
.fusi-amelie:before{
content:'\F030';
}
.fusi-invisible-man:before{
content:'\F031';
}
.fusi-shawshank-redemption:before{
content:'\F032';
}
.fusi-the-island:before{
content:'\F033';
}
.fusi-life-of-pi:before{
content:'\F034';
}
.fusi-legend-of-1900:before{
content:'\F035';
color:#fff !important;
}
.fusi-starwars-0:before{
content:'\F036';
}
/*for bussiness*/
.fusi-building:before{
content:'\F037';
}
.fusi-conversation:before{
content:'\F038';
}
.fusi-news-paper:before{
content:'\F039';
}
.fusi-lock:before{
content:'\F03A';
}
.fusi-programme:before{
content:'\F03B';
}
.fusi-army-knife:before{
content:'\F03C';
}
.fusi-four-box:before{
content:'\F03D';
}
.fusi-applications:before{
content:'\F03E';
}
.fusi-environment:before{
content:'\F03F';
}
.fusi-puzzle:before{
content:'\F040';
}
.fusi-hexagram:before{
content:'\F041';
}
.fusi-shield:before{
content:'\F042';
}
.fusi-shawshank:before{
content:'\F043';
}